<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GreengroceryStore.Properties.Settings.greengrocery_storeConnectionString"
            connectionString="Data Source=KROXISPC\SQLEXPRESS;Initial Catalog=greengrocery_store;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>